// sass/components – katalog z plikami źródłowymi styli każdego komponentu (za chwilę wyjaśnimi czym są komponenty),
@import "variables";

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.sidebar.title { 
  background-color: $color-two;
  max-height: 20px;
}

.callendar {
  padding: 50px 10px;
  border-bottom: 1px solid $color-five;
  justify-content: center;
  display: flex;
  
  i {
    display: flex;
    align-items: center;
    vertical-align: -webkit-baseline-middle;
    padding: 10px;
  }
  .icon-calendar {
    color: $color-one;
    transform: translateY(8%);
  }
  

  .date-input {
    border: 1px solid $color-five;
    border-radius: 2px;
    justify-content: center;
    display: flex;
    padding: 10px;
    height: 40px;
    input{
      border: none;
      font-size: 15px;
    }
    .second-date {
      border-left: 2px solid $color-five;
      padding-left: 15px;
    }
  }
}
.button-refresh {
  align-items: center;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  color: $color-titles;
  background-color: $color-three;
  margin-left: 10px;
  i {
    // position: absolute;
    display: flex;
    align-items: center;
    vertical-align: -webkit-baseline-middle;
    padding: 10px;
  }
}
.just{
  font-family: 'Sedgwick Ave', cursive;
  p {
    font-size: 20px;
    margin: auto;
    margin-left: 20px;
  }
}
nav.topbar-list {
  height: 60px;
  ul {
    text-align: end;
    border-left: 2px;
    border-color: #818181;
    height: 100%;
    margin: 0;
    li {
      font-family: $font-family-one;
      display: inline-flex;
      height: 100%;;
      text-decoration: none;
      color: $color-one;
      text-align: left;
      align-items: center;
      padding: 12px;
      font-family: $font-family-one;
      border-left: 2px solid $color-five;
      i {
        display: flex;
        align-items: center;
        vertical-align: -webkit-baseline-middle;
        padding: 10px;
      }
      .span-one {
        font-size: 12px;  
      }
      span {
        display: flex;
        align-items: center;
        font-size: 18px;
      }
    }
  }
}
.sidebar-list {
  margin-left: 3px;
  ul {
    text-align: start;
    border-color: $color-one;
    height: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 2px;
    border-color: $color-one;
    padding: 0;
    line-height: 2.6;
    margin-bottom: 10px;
    li {
      display: inline-flex;
      height: 100%;;
      text-decoration: none;
      color: $color-one;
      text-align: center; 
      padding-left: 12px;
      font-family: $font-family-one;
      border-left: 2px solid $color-five;
      border-left: 2px solid transparent;
      i {
        display: flex;
        align-items: center;
        vertical-align: -webkit-baseline-middle;
        padding: 10px;
        padding-right: 15px;
      }
      .span-one {
        font-size: 12px;  
      }
      span {
        display: flex;
        align-items: center;
      }
      
    }
    li:hover {
      color: $color-titles; 
      background-color: #282828;
      border-left: 4px solid $color-three;
      width: 100%;
    } 
  }
}
.hamburger {
  width: 20px;
  height: 20px;
  border: 0;
  border-top: 2px solid $color-one;
  background: transparent;
  position: relative;
  margin-top: 22px; 
  margin-left: 50px;
}
.hamburger::before, .hamburger::after {
content: '';
position: absolute;
top: 0;
left: 0;
width: 20px;
border-top: 2px solid $color-one;
transform: translateY(6px);
}
.hamburger::after {
transform: translateY(13px);
}
.user h3 {
  color: $color-one;
  font-size: 15px;
  margin-top: 30px;
  span {
    font-size: 15px;
    margin-left: 10px;
  }
}
