//sass/_layout.scss – plik z gridem oraz domyślnymi klasami pomocniczymi dla niego,
body {
  font-family: $font-family-one;
  font-weight: 500;
  font-size: 15px;
  border-color: $color-five;
}
i {
  font-family: 'Glyphter';
}
li {
  list-style-type: none;
} 
.scroll-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
}
.scroll-wrapper table {
  width: 100%;
  max-width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.sidebar {
  width: 188px;
  top: 0;
  position: fixed;
  background: black;
  height: 100vh;
}
.chart {
  width: 80%;
  transform: translateX(10%);
}
.user h3 {
  color: $color-one;
  font-size: 15px;
  margin-top: 30px;
  margin-left: 10px;
}

.topbar {
  border-bottom: 2px solid $color-five;
  top: 0;
  background-color: $color-titles;
  position: fixed;
  height: 60px;
  background: $color-titles;
  width: calc(100% - 188px);
  left: 188px;
  z-index: 6;
}
.avatar-image {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user {
  border-top: 2px solid;
  border-color: $color-one;
  font-family: $font-family-one;
  color: $color-four;
  h3 {
    color: $color-one;
    font-size: 15px;
    margin-top: 30px;
  }
  span {
    font-size: 15px;
    margin-left: 10px;
  }
}
//content
.con {
  width: calc(100% - 188px); 
  margin-left: 188px;
  margin-top: 75px;
}
table {
  width: 100%;
  height: auto;
  color: $color-one;
  display: flex;
  justify-content: space-between;
  tbody {
    width: 70%;
    border-bottom: 1px solid $color-five;
  }
  tr {
    height: auto;
    border-top: 1px solid $color-five;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    td {
      width: 33%;
      text-align: left;
      top: 50%;
      transform: translateY(-50%, -50%);
      padding: 10px;
    }
    a {
      text-decoration: none;
      color: $color-six;
    }
    .tab-icon {
      padding:10px;
      opacity: 0;
    }
    i {
      color: $color-one;
    }
    i:hover {
      color: $color-three;
    }
  }
  tr:hover {
    opacity: 100%;
    background: $color-seven;
  }
}
.general {
  box-shadow: 0px 0px 20px 0px $color-shadow;
  width: 100%;
  margin: 20px;
}
.content {
  width: calc(100% - 188px);
  margin-left: 188px;
}
.container-fluid {
  width: 100%;
  margin-left: 17px;
  margin-right: 88px;;
}
.title {
  color: $color-titles;
  font-size: 20px;
  display: inline-flex;
}
//modale
* {
  box-sizing: border-box;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 30px;
  display: none;
}
.overlay.show {
  display: flex;
}
.modal {
  max-width: 600px;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  padding: 30px;
  display: none;
}
.modal.show {
  display: block;
}
.modal .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
}