//sass/_variables.scss – tutaj będziemy definiować wszystkie zmienne dotyczące projektu takie jak kolory, wielkości, czcionki oraz inne standaryzacje,
$color-titles: white;
$color-one: #818181;
$color-two: black;
$color-four: #46657b;
$font-family-one: 'Heebo', sans-serif;