// sass/components – katalog z plikami źródłowymi styli każdego komponentu (za chwilę wyjaśnimi czym są komponenty),

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}


